<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Product</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li><a href="#" class="active">Product</a></li>
        </ul>
      </div>
      <button
        class="btn-add mat-elevation-z8"
        mat-raised-button
        (click)="addDialog()"
      >
        <i class="bx bx-plus-circle"></i>
        <span class="text">Add Product</span>
      </button>
    </div>
    <div class="head-table">
      <mat-card>
        <mat-card-content>
          <h3 class="card-title">Products List</h3>
          <mat-form-field>
            <mat-label>Search...</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Headset"
              #input
            />
          </mat-form-field>
          <div class="table-container mat-elevation-z0">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.title }}
                </td>
              </ng-container>

              <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
                <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Category
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.category }}
                </td>
              </ng-container>

              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.stock }}
                </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.price | currency : "Rp. " : "symbol" : "3.0" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn-icon mat-elevation-z0"
                    mat-mini-fab
                    color="primary"
                    aria-label="Show"
                    (click)="showDialog(element.id)"
                  >
                    <mat-icon>visibility</mat-icon>
                  </button>

                  <button
                    class="btn-icon mat-elevation-z0"
                    mat-mini-fab
                    color="accent"
                    aria-label="Show"
                    (click)="editDialog(element.id)"
                  >
                    <mat-icon>mode</mat-icon>
                  </button>
                  <button
                    class="btn-icon mat-elevation-z0"
                    mat-mini-fab
                    color="warn"
                    aria-label="Show"
                    (click)="deleteDialog(element.id)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</section>
