<mat-toolbar>
  <button
    class="sidebar-toggle"
    type="button"
    aria-label="Toggle sidebar"
    mat-icon-button
    (click)="sidenavToggle()"
  >
    <div *ngIf="this.isMobile">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </div>

    <div *ngIf="!this.isMobile">
      <mat-icon>menu</mat-icon>
    </div>
  </button>

  <app-notif></app-notif>
  <app-profile></app-profile>
</mat-toolbar>

<mat-sidenav-container id="sidenav">
  <mat-sidenav mode="side" #sidenav>
    <img
      class="avatar mat-elevation-z8"
      src="../../../assets/avatar/avatar.jpeg"
    />

    <h4 class="name">Blimanik</h4>
    <p class="designation">Fullstack Developer</p>

    <mat-divider></mat-divider>
    <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'home' ? 'active' : ''"
      routerLink="/panel/home"
      (click)="setMenuActive('home')"
    >
      <mat-icon>home</mat-icon>
      <span class="btn-text">Home</span>
    </a>
    <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'products' ? 'active' : ''"
      routerLink="/panel/products"
      (click)="setMenuActive('products')"
    >
      <mat-icon>shopping_basket</mat-icon>
      <span class="btn-text">Products</span>
    </a>
    <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'orders' ? 'active' : ''"
      routerLink="/panel/orders"
      (click)="setMenuActive('orders')"
    >
      <mat-icon>shopping_cart</mat-icon>
      <span class="btn-text">Orders</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-button class="menu-button" routerLink="/panel/help">
      <mat-icon>logout</mat-icon>
      <span class="btn-text">Logout</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
