<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Home</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Panel</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li><a href="#" class="active">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="head-info">
      <ul class="box-info">
        <li>
          <i class="bx bx-cart-add"></i>
          <span class="text">
            <h3>{{ orderSummary }}</h3>
            <p>Total Orders</p>
          </span>
        </li>
        <li>
          <i class="bx bxs-package"></i>
          <span class="text">
            <h3>{{ productSummary }}</h3>
            <p>Total Products</p>
          </span>
        </li>
        <li>
          <i class="bx bx-bell"></i>
          <span class="text">
            <h3>{{ notifSummary }}</h3>
            <p>Notifications</p>
          </span>
        </li>
      </ul>
    </div>
    <div class="head-table">
      <mat-card>
        <mat-card-content>
          <h3 class="card-title">Recent Products</h3>
          <div class="table-container mat-elevation-z0">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.title }}
                </td>
              </ng-container>

              <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.category }}
                </td>
              </ng-container>

              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef>Stock</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.stock }}
                </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.price | currency : "Rp. " : "symbol" : "3.0" }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</section>
