<section id="products">
  <div class="container">
    <div class="title">
      <h3>Products</h3>
    </div>
    <ul class="product-list">
      <li *ngFor="let row of rows">
        <mat-card>
          <img
            (click)="detailDialog(row.id)"
            style="cursor: pointer"
            mat-card-image
            src="{{ downloadUrl + '/' + row.id + '/' + row.thumbnail }}"
            alt="{{ row.title }}"
          />
          <mat-card-content>
            <div class="body-text">
              <a class="title cursor-link" (click)="detailDialog(row.id)">{{
                truncateTitle(row.title, 20)
              }}</a>
              <h4 class="product-price">
                {{ row.price | currency : "Rp. " : "symbol" : "3.0" }}
              </h4>
              <p>
                {{ truncateTitle(row.description, 60) }}
                <a
                  class="read-more cursor-link cursor-block"
                  (click)="detailDialog(row.id)"
                  >Read more</a
                >
              </p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              (click)="orderDialog(row.id)"
              color="primary"
              style="width: 100%"
            >
              {{ buyProduct }}
            </button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
</section>
