<footer>
  <div class="container">
    <div class="top">
      <div>
        <a href="#" class="brand">ToKKom</a>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          adipisci.
        </p>
      </div>
      <div class="navigation">
        <h5>Navigation</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#blogs">Products</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="social">
        <h5>Social</h5>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="help">
        <h5>Help & Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">How it works?</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <p>Created By Blimanik</p>
      <ul class="links">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy policy</a></li>
      </ul>
    </div>
  </div>
</footer>
