footer {
  background: var(--secondary);
  padding: 64px 0 0;
}
footer .top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 36px;
  padding-bottom: 20px;
}
footer .top .brand {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  display: inline-block;
}
footer .top p {
  color: #fff;
}
footer .top h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .top ul li {
  margin-bottom: 10px;
}
footer .top ul li a {
  color: #fff;
  transition: all 0.3s ease;
}
footer .top ul li a:hover {
  color: var(--primary);
}
footer .bottom {
  background: var(--dark);
  padding: 16px 0;
}
footer .bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 16px;
}
footer .bottom p {
  color: #fff;
}
footer .bottom .links {
  display: flex;
  grid-gap: 24px;
}
footer .bottom .links a {
  color: #fff;
  transition: all 0.3s ease;
}
footer .bottom .links a:hover {
  color: var(--primary);
}
