<h2 mat-dialog-title>Product Details</h2>
<div class="flex-container">
  <div class="flex-left">
    <img
      style="width: 90%; height: 90%"
      *ngIf="thumbnail"
      [src]="thumbnail"
      alt="Photo of a Shiba Inu"
    />
    <div class="small-img-row">
      <div class="small-img-col" *ngFor="let image of images">
        <a
          style="text-decoration: none; cursor: pointer"
          (click)="setThumbnail(image)"
          ><img [src]="image" width="100%" class="small-img"
        /></a>
      </div>
    </div>
  </div>
  <div class="flex-right">
    <h1 class="product-title">{{ row?.title }}</h1>
    <h4 class="product-price">
      {{ row?.price | currency : "Rp. " : "symbol" : "3.0" }}
    </h4>

    <h2>Stock : {{ row?.stock }}</h2>

    <h2>Detail :</h2>
    <p>
      {{ row?.description }}
    </p>
  </div>
</div>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Close</button>
</mat-dialog-actions>
