mat-dialog-content .form-first {
  margin-top: 10px;
}

mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.preview {
  max-width: 120px;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 5px;
}
