<header>
  <div class="container">
    <div class="text">
      <h1 class="typed-element">Welcome To Tokkom</h1>
      <p>
        ToKKom sell all tools and electronic needs such as PCs, Laptops,
        Headsets, Server, Gadget, Keyboard, Ram, Harkdisk and other digital
        equipment.
      </p>
      <button mat-raised-button mat-lg-button color="primary">
        <mat-icon>add_shopping_cart</mat-icon>
        <a class="a-link" href="#products"><strong>Explore Products</strong></a>
      </button>
    </div>
    <div class="img">
      <img src="assets/images/laptop3d.png" alt="Image" />
    </div>
  </div>
</header>
