<section id="services">
  <div class="container">
    <div class="title"><h3>Services</h3></div>
    <div class="content">
      <ul class="service-list">
        <li>
          <i class="bx bx-support"></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            dignissimos, quasi sequi architecto, earum, error commodi.
          </p>
        </li>
        <li>
          <i class="bx bxs-ambulance"></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            dignissimos, quasi sequi architecto, earum, error commodi.
          </p>
        </li>
        <li>
          <i class='bx bx-book-bookmark'></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            dignissimos, quasi sequi architecto, earum, error commodi.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
