#services {
  width: 100%;
  padding: 64px 0;
}

#services .title {
  text-align: center;
  margin-bottom: 36px;
}

#services .title h3 {
  font-size: 30px;
  font-weight: 600;
  border-bottom: 1px solid var(--primary);
  display: inline-block;
}

#services .service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 36px;
}

#services .service-list li .bx {
  font-size: 36px;
  margin-bottom: 16px;
  color: #004a9f;
}
