mat-dialog-content .form-first {
  margin-top: 10px;
}

mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.preview {
  max-width: 120px;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 5px;
}

.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}
