<form [formGroup]="productForm" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Edit Product</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="invisible form-first" appearance="outline">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" placeholder="Product Id" readonly />
    </mat-form-field>
    <mat-form-field class="form-first" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Product Title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input
        matInput
        formControlName="category"
        placeholder="Product Category"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand" placeholder="Product Brand" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        type="number"
        matInput
        formControlName="price"
        placeholder="Product Price"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Stock</mat-label>
      <input
        type="number"
        matInput
        formControlName="stock"
        placeholder="Product Stock"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        placeholder="Input Product Description"
        matInput
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Thumbnail</mat-label>
      <div>
        <mat-toolbar>
          <input matInput [value]="fileName" />
        </mat-toolbar>

        <input
          type="file"
          id="fileInput"
          (change)="selectFile($event)"
          name="fileInput"
          formControlName="thumbnail"
        />
      </div>
    </mat-form-field>
    <div>
      <img *ngIf="singlePreview" [src]="singlePreview" class="preview" />
    </div>
    <mat-form-field>
      <mat-label>Multi Images</mat-label>
      <div>
        <mat-toolbar>
          <input
            matInput
            [value]="
              selectedFileNames.length
                ? selectedFileNames.join(', ')
                : 'Select Images'
            "
          />
        </mat-toolbar>

        <input
          type="file"
          id="fileInput"
          name="fileInput"
          accept="image/*"
          multiple
          (change)="selectFiles($event)"
          formControlName="images"
        />
      </div>
    </mat-form-field>
    <div>
      <img
        *ngFor="let preview of multiPreview"
        [src]="preview"
        class="preview"
      />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
      type="submit"
    >
      Update
    </button>
  </mat-dialog-actions>
</form>
