<form [formGroup]="orderForm" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Product Form</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="invisible form-first" appearance="outline">
      <mat-label>Product Id</mat-label>
      <input
        matInput
        formControlName="productId"
        placeholder="Input Product Id"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="form-first" appearance="outline">
      <mat-label>Product Title</mat-label>
      <input
        matInput
        formControlName="productTitle"
        placeholder="Input Product Title"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input
        matInput
        formControlName="productQty"
        placeholder="Input Product Qty"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Name</mat-label>
      <input
        matInput
        formControlName="customerName"
        placeholder="Input Customer Name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Address</mat-label>
      <input
        matInput
        formControlName="customerAddress"
        placeholder="Input Customer Address"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Phone Number</mat-label>
      <input
        matInput
        formControlName="customerPhoneNumber"
        placeholder="Input Customer Phone Number"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        placeholder="Input Product Description"
        matInput
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
      type="submit"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
